/**
 * mixins.scss
 *
 *
 * @author Mihnea Belcin
 */

/*------------------------------------*\
    RESPONSIVE BREAKPOINTS
\*------------------------------------*/

$smallWidth:                   320px  !default;
$mediumWidth:                  768px  !default;
$largeWidth:                   1024px !default;
$hugeWidth:                    1200px !default;

/*------------------------------------*\
    RESPONSIVE MIXINS
\*------------------------------------*/

@mixin fromHeight($height) {
	@media only screen and (min-height: $height) { @content; }
}

@mixin toHeight($height) {
	@media only screen and (max-height: $height) { @content; }
}

@mixin fromWidth($width) {
	@media only screen and (min-width: $width) { @content; }
}

@mixin toWidth($width) {
    @media only screen and (max-width: $width) { @content; }
}

@mixin betweenWidth($minWidth, $maxWidth) {
    @media only screen and (min-width: $minWidth) and (max-width: $maxWidth) { @content; }
}

@mixin responsive($type) {
	@if $type == 's' {
		@include small {
			@content;
		}
	}

	@if $type == 'm' {
		@include medium {
			@content;
		}
	}

	@if $type == 'l' {
		@include large {
			@content;
		}
	}

	@if $type == 'xl' {
		@include huge {
			@content;
		}
	}
}

@mixin small {
    @include toWidth($mediumWidth - 1px) { @content; };
}

@mixin medium {
    @include betweenWidth($mediumWidth, $largeWidth - 1px) { @content; };
}

@mixin large {
    @include betweenWidth($largeWidth, $hugeWidth - 1px) { @content; };
}

@mixin huge {
    @include fromWidth($hugeWidth) { @content; };
}

@mixin from-small {
    @include fromWidth($smallWidth) { @content; };
}

@mixin from-medium {
    @include fromWidth($mediumWidth) { @content; };
}

@mixin from-large {
    @include fromWidth($largeWidth) { @content; };
}

@mixin from-huge {
    @include fromWidth($hugeWidth) { @content; };
}