.Brain {
  display: flex;

  flex-flow: row wrap;
  justify-content: flex-start;
  align-content: center;
  align-items: flex-start;

  overflow: hidden;
}

// ul { font-size:0; margin: 0; padding: 0; }
